
.description{
  padding-bottom: 5px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #979797;
}

.badge {
  cursor: pointer;
  user-select: none;
  width: 100%;
  height: 110px;
  background-color: #E9E9E9;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b"
                       "a c";
  color: #666666;
  
  &__icon {
    grid-area: a;
    align-self: center;
    text-align: right; 
    padding-right: 20px;
  }
  &__header {
    grid-area: b;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    align-self: flex-end;
    padding-bottom: 5px;
  }

  &__description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    grid-area: c;
    align-self: start;
    padding-top: 5px;
  }
}