.bot-badge {
  width: 200px - 32px;
  height: 232px - 32px;
  padding: 16px;
  background: #FFF;
  margin: 16px 32px 16px 0;
  text-align: center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 7fr 4fr 2fr;
  cursor: pointer;

  &:hover {
    background: rgba(175, 191, 249, 0.5);
  }

  &:focus {
    outline: none;
  }

  &__name {
    grid-area: 1 / 1 / 2 / 3;
    text-align: left;
    align-self: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  &__description {
    grid-area: 2 / 1 / 3 / 3;
    text-align: left;
  }

  &__published {
    grid-area: 3 / 1 / 3 / 3;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #10B1B5;
  }

  &__channels {
    text-align: left;
    align-self: center;
    p {
      margin: 0;
    }
  }

  &__button {
    justify-self: end;
    align-self: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;

    svg {
      margin-left: 5px;
    }
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #10B1B5;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
