<div class="post-editor flexbox">
  <div class="post-editor__header">
    <div class="post-editor__editor">
      <quill-editor id="editor-container">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <select class="ql-font">
              <option selected>Aref Ruqaa</option>
              <option value="mirza">Mirza</option>
              <option value="roboto">Roboto</option>
            </select>
          </span>
        </div>
      </quill-editor>
    </div>
  </div>
  <div class="post-editor__editor">
    <quill-editor id="editor-container"  >
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <select class="ql-font">
            <option selected>Aref Ruqaa</option>
            <option value="mirza">Mirza</option>
            <option value="roboto">Roboto</option>
          </select>
        </span>
      </div>
    </quill-editor>
  </div>
  <div class="post-editor__image">

  </div>
</div>