.content {
  display: grid;
  grid-template-rows: 320px  340px 550px;
}

.statistic {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 6fr;
  grid-template-areas: 
    "a a"
    "b c";

  &__header {
    grid-area: a;
    
    h1 {
      display: inline;
      padding-right: 20px;
    }
  }

  &__posts {
    grid-area: b;
  }

  &__subscribers {
    grid-area: c;
  }
}
