<div class="content">
  <div class="statistic">
    <div class="statistic__header">
      <h1>Статистика на сегодня</h1>
      <h1>{{myDate | date:'longDate'}}</h1>
    </div>
    <div class="statistic__posts">
      <h3>Ближайшие посты</h3>
    </div>
    <div class="statistic__subscribers">
      <h3>Подписчики</h3>
    </div>
  </div>
  <div class="channels">
    <div class="channels__header">
      <h1>Подключенные к боту каналы</h1>
    </div>
    <div class="channels__search">

    </div>
    <div class="channels__carousel">
      <div class="add-button"></div>

    </div>
  </div>
  <div class="users">
    <div class="users__header">
      <h1>Подключенные к боту пользователи</h1>
    </div>
    <div class="users__control">
      
    </div>
    <div class="users__list"></div>
    <div class="users__pages">
    </div>
  </div>
</div>