<div class="content">
  <div class="statisctic">
    <div class="statistic__header">
      <h1>Статистика на сегодня</h1>
      <h1>{{myDate}}</h1>
    </div>
    <div class="statisctic__posts">

    </div>
    <div class="statisctic__subscribers">
      
    </div>
  </div>
  <div class="channels">
    <div class="add-button"></div>
  </div>
  <div class="users">
    <div class="users__control">
      
    </div>
    <div class="users__list"></div>
    <div class="users__pages">
    </div>
  </div>
</div>