.flexbox {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}

h2 {
  padding-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 16px;
  color: #121212;
}

.bots-slider {
  display: flex;
  flex-direction: row;
}

.search-panel {
  width: 588px;
  padding: 20px 0 20px 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  * {
    align-self: flex-end;
  }
}

.bot-add {
  margin: 16px 32px 16px 0;
  width: 200px;
  height: 232px;

  display: grid;
  grid-template-rows: 3fr 3fr;

  background: #F4F7F9;
  border: 2px dashed #AFBFF9;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: rgba(175, 191, 249, 0.5);
  }

  svg {
    justify-self: center;
    align-self: flex-end;
  }

  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    justify-self: center;
    align-self: auto;
    text-transform: uppercase;
    color: #AFBFF9;
  }
}
